<div class="general-container">
   <h1 class="page-title"> Welcome to SpendSparrow </h1>
   <p> A profesional application to manage your budget </p>
   <%= link_to "Sign In", user_session_path %>
   <%= link_to "Sign up", new_user_registration_path %>
</div>
