<div class="landing-page-container">
   <h1 class="landing-page-title"> SpendSparrow </h1>
   <div class="landing-button">
     <%= link_to "LOG IN", user_session_path, class: "signin-button" %>
     <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
   </div>
</div>

  <script>
document.addEventListener("DOMContentLoaded", () => {
  const landingPageContainer = document.querySelector(".landing-page-container");

  let addBg = () => {
    landingPageContainer.classList.add("landing-background");
  }

  let removeBg = () => {
    landingPageContainer.classList.remove("landing-background");
  }

  addBg();

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      removeBg();
    } else {
      addBg();
    }
  });
});
  </script>