<div class="landing-page-container">
   <h1 class="landing-page-title"> SpendSparrow </h1>
   <div class="landing-button">
     <%= link_to "LOG IN", user_session_path, class: "signin-button" %>
     <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
   </div>
</div>

<script>
function addBg() {
  const landingPageContainer = document.querySelector(".landing-page-container");
  landingPageContainer.classList.add("landing-background");
}

function removeBg() {
  const landingPageContainer = document.querySelector(".landing-page-container");
  landingPageContainer.classList.remove("landing-background");
}

function handleScroll() {
  if (window.scrollY > 0) {
    removeBg();
  } else {
    addBg();
  }
}

document.addEventListener("DOMContentLoaded", () => {
  addBg();
  window.addEventListener("scroll", handleScroll);
});

// Handle page load when Turbolinks is not present (fallback)
document.addEventListener("page:load", () => {
  addBg();
  window.addEventListener("scroll", handleScroll);
});
</script>