<div class="landing-page-container">
   <h1 class="landing-page-title"> SpendSparrow </h1>
   <div class="landing-button">
     <%= link_to "LOG IN", user_session_path, class: "signin-button" %>
     <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
   </div>
</div>
