<div class="navbar-container">
  <%= render 'shared/back_button'%>
  <%= render 'shared/title', page_title: "NEW BUDGET"%>
  <%= render 'shared/submit_button', button_title: "SAVE", form_id: "new-budget" %>
</div>

<div class="general-container">
  <%= render "form", budget: @budget %>
</div>

<br>