
<div class="general-container">
  <%= render "form", budget: @budget %>
</div>

<br>


  <%= link_to root_path, class: "back-button" do %>
    <i class="fa-solid fa-circle-arrow-left fa-bounce"></i>
  <%end%>
