@import 'mixins';
@import 'variables';

body {
  @include center-column;
  min-height: 100vh;
}

.general-container {
  @include center-column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  min-height: 80vh;
  height: 90vh;
  padding-top: 6vh;
  margin-bottom: 80px;
  overflow-y: scroll;
}

.general-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.general-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.back-button {
  position: absolute;
  top: 7%;
  left: 5%;
}
