// Variables
$font-family-sans-serif: 'Montserrat', sans-serif;

// Global Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

// Global Box Sizing
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Typography
body {
  font-family: $font-family-sans-serif;
  line-height: 1.5;
  color: $text-color;
  background-color: rgba(128, 128, 128, 0.065);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

// Links
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

// Lists
ul,
ol {
  list-style: none;
}

// Forms
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

// Misc
abbr[title],
acronym[title] {
  border-bottom: none;
  cursor: help;
}

// Clearfix
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
