#categories {
  @include center-column;

  max-width: 1200px;
  padding-bottom: 80px;

  a {
    @include center;
  }
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 2fr 1fr;
  border: 1px solid black;
  margin: 24px 0;
  background-color: white;
  width: 95%;
  position: relative;

  .delete-button {
    font-size: 12px;
    position: absolute;
    top: 3%;
    right: 6px;
    z-index: 10000;
    background: none;
    border: none;
  }

  .delete-button:hover {
    color: red;
  }

  > div {
    @include center-column;

    align-items: flex-start;
    padding: 12px;
  }

  .category-icon-container {
    grid-column: 1;
    grid-row: 1 / span 3;

    img {
      @include center;

      max-width: 100px;
      height: auto;
      border: 1px solid $primary-color;
    }
  }

  .category-name-container {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
    color: $secondary-text-color;
    font-weight: bolder;

    @include center;

    height: 100%;
  }

  .category-name-container:hover,
  .category-name-container:active,
  .category-name-container:focus {
    color: $primary-color;
  }

  .category-total-container {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
    color: $text-color;
    font-weight: bolder;
  }

  .category-date-container {
    grid-column: 2/span 2;
    grid-row: 3;
    height: 12px;
    font-size: 10px;
    border-top: 1px solid $secondary-text-color;
    color: $secondary-text-color;
    margin-right: 12px;
    opacity: 0.9;
  }
}

#add-new {
  height: 100vh;

  @include center-column;

  .add-new-text {
    width: 80%;
    text-align: center;
    font-size: 24px;
    color: $secondary-text-color;
  }
}

.new-category-container {
  @include center;

  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $secondary-color;
  border: 1px solid black;

  .new-category-button {
    @include center;

    border: 1px solid white;
    color: white;
    width: 90%;
    height: 50px;
    transition: 0.5s all ease-in-out;
  }
}

.new-category-container:hover {
  background: darken($secondary-color, 10%);
}

.new-category-button:active {
  background: darken($secondary-color, 10%);
  transform: scale(0.7);
}

.new-category-button:focus {
  background: darken($secondary-color, 10%);
  transform: scale(0.7);
}

@media (min-width: 768px) {
  #categories {
    width: 40%;
  }

  .category-container {
    width: 100%;

    > div {
      padding-left: 0;
    }

    .category-icon-container {
      grid-column: 1;
      grid-row: 1 / span 3;
      padding-right: 0;
      padding-left: 12px;

      img {
        height: auto;
      }
    }

    .category-date-container {
      margin: 0;
    }
  }

  .new-category-container {
    @include center;

    height: 50px;
    position: static;
    width: 20%;
    background: $secondary-color;
    margin-bottom: 50px;

    .new-category-button {
      @include center;

      border: none;
      color: white;
      width: 90%;
      height: 50px;
    }
  }
}
