@import '../base/mixins';
@import '../base/variables';

.navbar-container {
  @include center;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 10000;
  padding: 12px;
  background-color: $primary-color;
  color: white;
}