<div class="category-container">
  <div class="category-icon-container">
    <image src=<%= category.icon %> />
  </div>

  <div class="category-name-container">
    <%= category.name %>
  </div>

  <div class="category-total-container">
    <strong>$<%= category.total %></strong>
  </div>

  <div class="category-date-container">
    <%= category.date %>
  </div>
</div>
