<div class="navbar-container">
  <%= render 'shared/back_button'%>
  <%= render 'shared/title', page_title: "NEW CATEGORY"%>
  <%= render 'shared/submit_button', button_title: "SAVE", form_id: "new-category" %>
</div>

<div class="general-container">
  <%= render "form", category: @category %>
</div>

<br>
