<div class="general-container">
  <%= render "form", category: @category %>
</div>

<br>

<%= link_to categories_path, class: "back-button" do %>
  <i class="fa-solid fa-circle-arrow-left fa-bounce"></i>
<%end%>

